.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
.font{
  font-size: 25px;
}
.bg-lightgray{
  background: rgb(240, 239, 239);
}